
img {
    width: 200px;
}
body {
    text-align: center;
    font-family: lobster, monospace, Arial;
}
.red-border {
    border-style: solid;
    border-color: red;
    border-width: 5px;
    border-radius: 20px;
}